@inject NavigationManager NavigationManager

<p>Preusmerjam...</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.NavigateTo("/access-denied", forceLoad: true);
        }
    }
}